#o
{
	text-align:center;
}
#t
{
	text-decoration:underline;
}
#th
{
	text-transform:uppercase;
}
#f
{
	text-indent:30px;
}
#fi
{
	word-spacing:10px;
}
h1
{
	letter-spacing:20px;
}